<div class="modal-header">
	<button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-hide="isWorking.busy" ng-click="close()">x</button>
	<h3>Deployment process for release {{releaseVersion}} </h3>
	<p ng-show="wasDeployedToChannel">Channel: {{channelName}}</p>
</div>
<div class="modal-body">
	<style>#viewReleaseDeploymentProcessContainer a { color: #333; } .col-lg-8 { width: 100%;}</style>
	<div id="viewReleaseDeploymentProcessContainer" >
		<project-layout suppress-create-release="deploymentProcess.Steps.length < 1">
			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<div class="form-box form-horizontal">
						<div>
							<div class="steps stack narrow650 margin-bottom-20">
								<div class="stack-item" ng-class="{\'stack-link-previous\': step.StartTrigger == \'StartWithPrevious\' && !$first}" ng-repeat="step in deploymentProcess.Steps" ng-show="step.channelMatches">
									<div ng-show="step.Actions.length > 1 && step.channelMatches">
										<div class="stack-content">
											<div class="action rolling">
												<h4>
												{{ $index + 1 }}. {{ step.Name }}
												</h4>
												<p><span ng-show=\'step.Properties["Octopus.Action.MaxParallelism"]\'>Rolling deployment</span><span ng-hide=\'step.Properties["Octopus.Action.MaxParallelism"]\'>Multi-step deployment</span> across deployment targets in roles: <tag-list tags=\'step.Properties["Octopus.Action.TargetRoles"]\'></tag-list></p>
											</div>
										</div>
										<div class="stack">
											<div class="stack-item" ng-repeat="action in step.Actions" ng-show="action.channelMatches">
												<div class="stack-content">
													<action-summary edit-link="" number="($parent.$index + 1) + \'.\' + ($index + 1)" action="action" step="step"></action-summary>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="step.Actions.length == 1 && step.channelMatches">
										<div class="stack-content">
											<action-summary edit-link="" number="($index + 1)" action="step.Actions[0]" step="step"></action-summary>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</project-layout>
	</div>
</div>
<div class="modal-footer">
	<spin active="isWorking.busy"></spin>
	<div>
		<button class="btn btn-default" ng-disabled="isWorking.busy" ng-click="close()">close</button>
	</div>
</div>