<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-hide="isWorking.busy" ng-click="close()">x</button>
    <h3>All variables for project {{projectName}} </h3>
</div>
<div class="modal-body">
    <div ng-show="projectHasUnsavedChanges" class="note note-warning">
        Your project includes unsaved changes, which are not visible here.
    </div>
    <loading-wrapper busy="isLoading">
    <div class="variables-snapshot" ng-show="variableSetsWaitingToLoad == 0">
        <table class="table table-bordered fixed-table-width">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Scope</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody class="smaller-fonts">
                <tr ng-repeat="variable in variables | orderBy:'Name' ">
                    <td class="force-word-wrap">
                        {{ variable.Name }}
                    </td>
                    <td class="force-word-wrap">
                        <span ng-show="variable.IsSensitive">&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;</span>
                        {{ variable.Value }}
                    </td>
                    <td class="force-word-wrap">
                        <div ng-repeat="scope in variable.formattedScope">
                            <b>{{ scope.type }}</b>: {{ scope.name }}<br/>
                        </div>
                    </td>
                    <td class="force-word-wrap">
                        <a ng-click="close()" ng-show="variable.SourceId" href='#/library/variables/{{ variable.SourceId }}'>{{ variable.Source }}</a>
                        <span ng-show="!variable.SourceId">{{ variable.Source }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-default" ng-disabled="isLoading.busy" ng-click="close()">close</button>
    </div>
</div>
