.grouping-chooser {
	margin-left: 10px;
}

.fixed-table-width {
	table-layout: fixed;
}

.force-word-wrap {
	word-wrap: break-word
}

.project-chooser {
    margin-left: 10px;
    padding-left: 10px;
}